DATABASE_URL="postgresql://user@host:5432/db_name?schema=public"
ACCESS_SECRET="sizning_maxfiy_sozingiz"
MAIL_USER="example@gmail.com"
MAIL_PASS="dsjkh skjd skdj kjdsd"
MAIL_FROM="N25STUDENT <sadkjskfkdsf@gmail.com>"
CLOUDINARY_CLOUD_NAME="djksfoiajewfi"
CLOUDINARY_API_KEY="9384798237488943"
CLOUDINARY_API_SECRET="daksjflkjdfjidajifof"